{% extends 'base.html.twig' %}

{% block title %}TVNET news{% endblock %}

{% block body %}
	<a href="logout">Logout</a>
	{% if rss %}
		{% for item in rss.channel.item|slice(0,5) %}
			<div id="content">
				<div id="item">
					<div>
						<img src="{{ item.enclosure.attributes.url }}">
					</div>
					<div>
						<a href="{{ item.link }}">{{ item.title }}</a>
					</div>
					<div>
						{{ item.description }}
					</div>
				</div>
				<br />
			</div>
		{% endfor %}

	{% else %}
		{{ 'Nav datu' }}
	{% endif %}
{% endblock %}
